*{
    margin: 0;
    padding: 0;

}
body{
    background:#fff;
}
.header{
   position: relative;
   width: 100%;
   background:#fff;
   border-bottom: 2px solid #ddd;
}
.header .logo img{
    width:180px;
    padding: 10px 0px;
    margin-left: 50px;

}
.card{
    width: 100%;
    float: left;

    position: relative;
}
.main-card{
    width: 700px;
    display: table;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    position: relative;
}
.main-card .card1{
    width: 45%;
    height: 530px;
    background:linear-gradient(to right, #174660, #1c71a7);
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
}
.card .logo img{
    width:70%;
    justify-content: center;
}
.main-card .card2{
    height: 530px;
    width: 55%;
    float:right;
   
}
 h3{ 
    text-align: center;
    padding: 25px 50px;
    font-family: 'neo_sans_trmedium';
    font-size: 33px;
    color: #1c71a7;
}
h2{
    text-align: center;
    color: #1c71a7;
    padding-top: 50%;
    font-size: 33px;
    font-family: 'neo_sans_trmedium';
}
.right{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.right a{
    padding-top: 10px;
    padding-left:5px;
    color: #1c71a7;
    font-size: 20px;
    text-decoration:none;
}
.card2 .form-inn{
    width: 80%;
    display: table;
    margin: 20px auto;
    position: relative;
}
.card2 .form-inn input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 9px 0;
    font-size: 15px;
    outline: none;
}
.login-btn{
    width: 80%;
    display: table;
    margin: 20px auto;
    position: relative;
}
.login-btn .logbtn{
    width: 100%;
    background: #4f77fe;
    height: 45px;
    line-height: 30px;
    color: #fff;
    font-size: 17px;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(69, 69, 69, 0.40);

}
.main-check-box{
    display: flex;
}
.checkbox{
    width: 40%;
    float: left;
    margin-left: 40px;
    

}
label,remember{
    font-size: 16px;
   padding-left: 4px;
}
.forget{
    margin: auto;
}
.forget a{
    font-size: 16px;
    color: #1c71a7;
}
